<!DOCTYPE html>
<html>
<head>

	<title>
		Pay it or Say it!
	</title>

	<link rel="stylesheet" type="text/css" href="pop.css">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="header">

		<h1>Pay it <i>or</i> Say it!</h1>
		<hr>

	</div>

	<div id="body">

		<p id="about">The <strong>only</strong> game on the internet<br> where you get to
					  embarass your<br> friends and win money.<br> </p>
		<p id="ru"><i><b>Are you in?</b></i> </p>

		<a class="startbutton" href="#"><span>Start!</span></a>

	</div>

	<div id="footer">

		<p>This is an <strong>alpha</strong>!!!</p>


	</div> 
</body>
</html>
